<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <!-- The root page should show that they are logged in and what username they are logged in as. -->

    Logged in as <strong> {{username}} </strong> 

  </body>
</html>
