<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <!-- The root page should show that they are logged in and what username they are logged in as. -->
    <div>
      <p>
        Logged in as <strong> {{username}} </strong>
      </p>
    </div>
    <div>
      <form action="/logout" method="post">
        Log out: <input type="submit">
      </form>
    </div>



  </body>
</html>
